:root {
    --color-main: rgb(0, 88, 147);
    --color-main-yellow: rgb(248, 153, 83);
    --color-text: #333333;
}

@media (max-width:1600px) {
    :root {
        --height-image-service:215px
    }
    .container{
        max-width: 95%;
    }
    header#header .menu #nav>ul li a {
        padding: 25px 18px;
        font-size: 14px;
    }
    .title-section {
        font-size: 34px;
    }
    .box-item-service .title-content .img img {
        min-width: 55px;
        width: 55px;
    }
    .box-item-service .title-content .img {
        min-width: max-content;
        margin-right: 20px;
    }
    .box-item-service .title-content .content-title-service h3 {
        font-size: 20px;
    }
    .box-item-service .title-content{
        padding: 25px 20px 25px;
    }
    .box-item-service .title-content .content-title-service h3{
        min-height: 55px;
    }
}
@media (max-width:1440px) {
    :root {
        --height-image-service:190px
    }
    header#header .logo img {
        width: 320px;
    }
    header#header .menu #nav>ul li a {
        padding: 22px 12px;
        font-size: 13px;
    }
    .box-item-service .title-content .img img {
        min-width: 48px;
        width: 48px;
    }
    .box-item-service .title-content .content-title-service h3 {
        font-size: 17px;
    }
    .title-section {
        font-size: 30px;
    }
    .item-blog-index .title-blog h3 {
        font-size: 16px;
    }
    .item-blog-index .wrap-blog p {
        font-size: 15px;
        height: 89px;
    }
    .item-blog-index .wrap-blog .box-image {
        width: 185px;
        min-width: 185px;
        height: 120px;
    }
    .box-about-index .title {
        font-size: 18px;
        margin-bottom: 5px;
    }
    .box-about-index p {
        font-size: 15px;
    }
    .wrap-number-about .item-why-about h4 {
        font-size: 45px;
    }
    .wrap-number-about .item-why-about p {
        font-size: 16px;
    }
    .wrap-document-index .title-section {
        font-size: 26px;
    }
    .wrap-document-index .box-title-section {
        margin-bottom: 20px;
    }
    .box-item-document .item {
        padding: 14px 15px;
    }
    .box-item-document .item .number {
        font-size: 26px;
        padding-right: 15px;
        margin-right: 15px;
    }
    .box-about-index {
        padding-bottom: 45px;
    }
    .box-item-service .title-content {
        padding: 20px 15px 20px;
    }   
    .box-item-service .title-content .content-title-service h3{
        min-height: 46px;
    }
}
@media (max-width:1366px) {
    :root {
        --height-image-service: 175px;
    }
    .box-item-service .title-content .content-title-service h3 {
        font-size: 15px;
    }
    .box-item-service .title-content .content-title-service p{
        font-size: 14px;
    }
    .item-blog-index .wrap-blog .box-image {
        width: 170px;
        min-width: 170px;
        height: 110px;
    }
    .box-item-service .title-content .content-title-service h3{
        min-height: 41px;
    }
    #service-index{
        padding-bottom: 130px;
    }
    .wrap-box-list-orther .wrap-tool{padding-bottom: 0;}
    .wrap-menu>li.item-nav:nth-last-child(3) .wrapper_naviga {
        left: auto;
        right: 0
    }
}

@media (max-width:1280px) {
    :root {
        --height-image-service: 160px;
    }
    header#header .logo img {
        width: 280px;
    }
    header#header .menu #nav>ul li a {
        font-size: 12px;
    }
    .title-section {
        font-size: 28px;
    }
    #service-index .content-service {
        font-size: 15px;
    }
    .item-blog-index .wrap-blog .box-image {
        width: 155px;
        min-width: 155px;
        height: 100px;
    }
    .wrap-number-about .item-why-about h4 {
        font-size: 40px;
    }
    .wrap-number-about .item-why-about p {
        font-size: 14px;
    }
    .item-about .box-title .title h3{
        font-size: 16px;
        min-height: 48px;
    }
    .item-blog .content-item-bolg {
        padding: 15px;
    }
}
@media (max-width:1200px) {
    :root {
        --height-image-service: 145px;
    }
    .wrap-main-right .wrap-blog-list .title {
        font-size: 18px;
    }
    .wrap-list-blog-right-top .title{
        font-size: 18px;
    }
    .wrap-list-blog-right-top {
        padding: 20px 15px 20px;
    }
    .item-blog-right-hot {
        padding: 15px 0;
    }
}
@media (max-width:1080px) {
    :root {
        --height-image-service: 130px;
    }
    .box-item-service .title-content .img img {
        min-width: 40px;
        width: 40px;
    }
    .box-search {
        margin-right: 15px;
    }
    .box-item-service .title-content .content-title-service h3 {
        font-size: 14px;
    }
    .box-item-service .title-content .content-title-service p{
        -webkit-line-clamp:3
    }
    .item-blog-index .wrap-blog .box-image {
        width: 145px;
        min-width: 145px;
        height: 90px;
        margin-right: 10px;
    }
    .wrap-main-right .wrap-blog-list .title {
        font-size: 16px;
    }
    .wrap-main-right .wrap-list .item-blog-right .title-blog {
        font-size: 14px;
        padding-bottom: 10px;
    }
    .wrap-button-captcha .box-button-submit p {
        font-size: 14px;
    }
}

@media (max-width:1024px) {
    .container {
        max-width: 100%;
    }
    header#header{justify-content: flex-end;}
    header#header .menu #nav>ul li {
        position: relative;
        width: 100%;
        border-bottom: 1px solid #ffffff40;
    }

    header#header .menu #nav>ul>li:first-child a,
    header#header .menu #nav>ul li a {
        padding: 15px;
    }
    header#header .menu #nav>ul>li::before{
        display: none;
    }
    header#header .menu #nav>ul li.box-logo img {
        width: 100px;
    }

    header#header .menu #nav>ul li.box-logo {
        display: none;
    }
    header#header .header-top ul li a {
        font-size: 14px;
        height: 44px;
    }

    header#header .header-top ul li a *:not(img) {
        display: none;
    }
    .box-search {
        margin-right: 65px;
        padding: 20px 0 20px 15px;
    }

    header#header .header-top ul li:first-child a {
        margin-right: 20px;
    }

    .toggle-search {
        display: block
    }

    header#header .header-top {
        position: fixed;
        padding: 4px 0;
        background-color: #fff;
        width: 100%;
        left: 0;
        bottom: 0;
        box-shadow: 0px 0px 1px 1px rgb(0 0 0 / 15%);
        border-bottom: 1px solid #e1e1e1bf;
        padding: 0;
    }

    .box-icon-bar {
        display: block;
    }

    header#header div.icon-bar {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 39px;
        height: 39px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all .3s;
        background-color: transparent;
        border-radius: 100%;
    }

    header#header div.icon-bar span {
        position: relative;
        width: 15px;
        height: 1.5px;
        background: #FFF;
        z-index: 1;
        display: block;
        transition: all .4s;
        z-index: 31;
    }

    header#header div.icon-bar span:before,
    header#header .icon-bar.close-menu span:before,
    header#header div.icon-bar span:after,
    header#header .icon-bar.close-menu span:after {
        content: '';
        position: absolute;
        width: 100%;
        background: #FFF;
        left: 0;
        height: 100%;
        transition: all .3s;
    }

    header#header div.icon-bar span:before {
        top: -6px;
    }

    header#header div.icon-bar span:after {
        top: 6px;
        width: 100%;
    }

    header#header.active-menu div.icon-bar span,
    header#header .icon-bar.close-menu span {
        background: transparent;
    }

    header#header.active-menu div.icon-bar span::before,
    header#header .icon-bar.close-menu span:before,
    header#header .icon-bar.close-menu span:after,
    header#header.active-menu div.icon-bar span::after {
        top: 0;
    }

    header#header.active-menu div.icon-bar:hover span::before,
    header#header .icon-bar.close-menu span:before,
    header#header .icon-bar.close-menu span:after,
    header#header.active-menu div.icon-bar:hover span::after {
        opacity: 1;
        visibility: visible;
    }

    header#header.active-menu div.icon-bar span::before,
    header#header .icon-bar.close-menu span:before {
        transform: rotate(45deg);
    }

    header#header.active-menu div.icon-bar span::after,
    header#header .icon-bar.close-menu span:after {
        transform: rotate(-45deg);
    }

    .header-top .container,
    .header-top .container [class*="col-"] {
        padding: 0;
    }

    .header-top .container .row {
        margin: 0;
        flex-direction: row;
        flex-wrap: unset;
    }

    .header-top .container .row>.col-lg-7 {
        flex: auto;
        max-width: 75%;
        width: 100%;
    }

    .header-top .container .row>.col-lg-5 {
        flex: auto;
        max-width: 25%;
        width: 100%;
    }

    header#header .header-top ul {
        width: 100%;
    }

    header#header .header-top ul li {
        width: calc(100% / 3);
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2px 0;
        border-right: 1px solid rgb(0 0 0 / 8%);
    }

    .fixe-wrap-main {
        bottom: 55px;
    }

    header#header .wrap-search-header {
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
        width: 300px;
        opacity: 0;
        visibility: hidden;
        border: 1px solid var(--color-main);
        z-index: -1;
        transition: all .3s;
    }

    header#header .wrap-search-header.active {
        opacity: 1;
        visibility: visible;
        z-index: 20;
    }

    header#header .toggle-search {
        text-align: center;
    }

    header#header .toggle-search i {
        color: var(--color-main);
    }

    .header-mobile {
        display: block;
        width: 100%;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    /* header#header.active {
        background-color: #0000004d;
    } */

    .header-mobile img {
        width: 100px;
    }

    header#header .menu {
        transform: translateX(-100%);
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        width: 350px;
        /* background-image: url(../images/bg-strock-mobile.png); */
        background: var(--color-main);
        transition: all .3s;
    }

    header#header.active-menu .menu {
        transform: translateX(0);
        transition: all .3s;
    }

    header#header .menu nav {
        position: relative;
        height: 100%;
        z-index: 2;
        overflow-y: scroll;
    }

    header#header .menu #nav>ul {
        flex-direction: column;
        padding-top: 45px;
        height: 100%;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .icon-toggleSubmenu {
        display: block;
        position: absolute;
        right: 15px;
        top: 14px;
    }
    .icon-toggleSubmenu img{
        transform: scale(1.4);
    }

    .wrap-menu li.item-nav>.wrapper_naviga {
        display: none;
        opacity: 1;
        visibility: visible;
        position: relative;
        top: 0;
        transform: none;
        background: transparent;
        transition: none;
    }

    header#header .icon-bar.close-menu {
        background-color: transparent;
        position: absolute;
        right: 10px;
        top: 5px;
    }

    header#header .header-top ul li:nth-child(2) a {
        margin-right: 0;
    }

    header#header .logo img{
        width: 320px;
    }
    :root{
        --width-image-1: 210px;
        --width-image-2: 210px;
        --width-image-3: 210px;
    }
    .box-item .wrap-content .title {
        font-size: 14px;
        min-height: 40px;
    }
    body{
        font-size: 14px;
    }
    .title-section {
        font-size: 26px;
    }
    .wrap-blog-main-index{
        padding-top: 40px;
    }
    #banner-main .owl-carousel .owl-item .item img {
        width: 100%;
    }

    #banner-main .wrap-content-slide h2 {
        font-size: 40px;}
    #banner-main .wrap-content-slide p {
        font-size: 20px
    }
    #banner-main .image-banner-main {
        height: 350px;
    }
    .box-title-main .title-content h3 {
        font-size: 28px;
    }  
    .wrap-title{
        margin-bottom: 15px;
    }
    .box-list-sercive .item-service .box-image {
        height: 340px;
    }  
    .wrap-project-main .item-project img {
        height: 320px;
    }
    .wrap-project-main.wrap-blog-main-index .item-project img {
        height: 210px;
    }

    header#header,main#main, footer#footer,
    header#header .logo,
    header#header .box-search,
    header#header>.icon-bar{
        transition: all .3s;
    }
    header#header.active-menu .logo,
    header#header.active-menu .box-search,
    header#header.active-menu>.icon-bar,
    main#main.active-menu{
        transform: translateX(350px);
    }
    body.overlay{
        position: relative;
        overflow: hidden;
    }
    body.overlay:before{
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        top: 0;
        height: 100%;
        background-color: #0000008a;
        z-index: 9;
    }
    header#header.active-menu .logo:before,
    header#header.active-menu:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #0000008a;
    }
    main{
        margin-top: 0;
    }
    .wrap-blog-main-index .col-main-left,
    .wrap-blog-main-index .col-right{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .col-right .wrap-main-right .wrap-list{
        display: flex;
        flex-wrap: wrap;
    }
    .wrap-main-right .wrap-list .item-blog-right{
        flex: 0 0 calc(25% - 20px);
        max-width: calc(25% - 20px);
        margin: 0 10px;
    }
    .box-calenda .day {
        font-size: 20px;
    }
    .box-calenda .date-year {
        font-size: 12px;
        padding-bottom: 0;
    }
    .item-blog .box-image .box-calenda{
        min-width: 55px;
        padding-top: 3px;
    }
    .item-blog .content-item-bolg .title {
        font-size: 14px;
    }
    .wrap-item-blog-main .box-detail-blog {
        padding: 20px;
        padding-bottom: 15px;
    }
    .wrap-item-blog-main .box-detail-blog h4 {
        font-size: 16px;
    }
    .wrap-main-right{
        margin-top: 0;
    }
    .wrap-main-right .wrap-blog-list .title {
        font-size: 22px;
    }
    .title-section, .title-section a {
        font-size: 30px;
    }
    .wrap-blog-list{display: none;}
}

@media (max-width:991px) {
    :root {
        --height-image-service: 240px;
    }
    #service-index {
        padding-bottom: 70px;
    }
    #service-index .wrap-item-service>[class*="col-"]{
        margin-bottom: 80px;
    }
    .box-item-service .title-content .img img {
        min-width: max-content;
        width: max-content;
    }
    .box-item-service .title-content .content-title-service h3 {
        font-size: 18px;
    }
    .form-footer{
        margin-top: 25px;
        padding-bottom: 20px;
    }
    footer#footer .title-footer {
        margin-bottom: 15px;
    }
    .box-info-footer{
        margin-bottom: 25px;
    }
    .wrap-map iframe{
        height: 400px;
    }
}

@media (max-width:820px) {
    .box-title-service .col-md-4 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .box-title-service .col-md-8 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
    #service-index {
        padding-bottom: 50px;
    }
    section#blogs {
        padding: 50px 0 20px;
    }
    .wrap-document-index .title-section a {
        font-size: 20px;
    }
}
@media (max-width:768px) {
    .wrap-number-about{
        margin-top: 30px;
    }
    .wrap-number-about .item-why-about{
        height: auto;
        margin-bottom: 30px;
    }
    .wrap-blog-main-index{
        padding-left: 20px;
        padding-right: 20px;
    }
    .item-about .box-title .title h3{
        margin: 10px 0;
    }
    .wrap-main-right .wrap-list .item-blog-right{
        flex: 0 0 calc(50% - 20px);
        max-width: calc(50% - 20px);
        margin-bottom: 20px;
    }
    .wrap-blog-detail-main p{
        text-align: left;
    }.box-title-main .title-content h3 {
        font-size: 24px;
    }
    .wrap-blog-item-hot #slide-hot-blog-list,
    .wrap-blog-item-hot .owl-carousel.owl-drag .owl-item .item,
    .wrap-blog-item-hot .owl-carousel.owl-drag .owl-item .item .box-image{
        height: auto;
    }
    .wrap-blog-item-hot #slide-hot-blog-list{
        background-color: #FFF;
    }
    .wrap-blog-item-hot .owl-carousel.owl-drag .owl-item .item{
        background-color: #fff;
    }
    /* .wrap-item-blog-main .box-detail-blog{
        position: relative;
        bottom: auto;
        top: 0;
        left: 0;
        padding-top: 10px;
    } */
    /* .wrap-item-blog-main .box-detail-blog h4{
        color: var(--color-text);
    } */
    .wrap-tool {
        padding-bottom: 0;
    }
    #banner-main .image-banner-main {
        height: 200px;
    }
    #service-main .wrap-item-service [class*="col-"] {
        margin-bottom: 75px;
    }
    #service-main-list .item-about .box-image{
        min-width: 250px;
        max-width: 250px;
    }
    .wrap-search-form>p {
        font-size: 20px;
    }
    .title-section, .title-section a {
        font-size: 26px;
    }
    .box-title-service .col-md-4 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .box-title-service .col-md-8 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media (max-width:667px) {
    
}
@media (max-width:576px) {
    header#header .logo img {
        width: 280px;
    }
    .item-about .box-image {
        max-width: 100%;
    }
    #burmerrus ul{
        overflow-x: scroll;
    }
    .wrap-share{
        flex-direction: column;
        align-items: center;
        padding-top:10px
    }
    .cover-size{margin-top: 10px;}
    .box-title-main .title-content h3 {
        font-size: 20px;
    }
    .wrap-box-list-orther .box-title-section .title-section {
        font-size: 18px;
    }
    .wrap-blog-main-index {
        padding-left: 15px;
        padding-right: 15px;
    }
    .box-title-main .title-content h3 {
        font-size: 22px;
    }
    #service-main-list .wrap-list-service .item-about{
        flex-direction: column!important;
    }
    #service-main-list .item-about .box-image {
        min-width: 100%;
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 15px;
    }
    .wrap-staff-image-detail{
        padding-right: 0;
        float: unset;
        min-width: auto;
    }
    .wrap-staff-image-detail img{
        max-width: 100%;
        float: unset;
    }
}
@media (max-width:540px) {
    header#header .logo img {
        width: 220px;
    }
    header#header div.icon-bar {
        top: 4px;
    }
    .box-search {
        padding: 13px 0 13px 15px;
    }
    .wrap-tool [class*="col-"] {
        margin-bottom: 20px;
    }
    section#page-404{
        padding: 30px 0;
        height: auto;
    }
    section#page-404 .title-page-404 {
        font-size: 22px;
    }
    section#page-404 p {
        font-size: 16px;
    }
    section#page-404 .wrap-button{
        flex-direction: column;
    }
    section#page-404 .wrap-button .btn{
        margin-bottom: 15px;
    }
    #service-index {
        padding-bottom: 15px;
    }
    section#blogs {
        padding: 30px 0 10px;
    }
}

@media (max-width:414px) {
    .wrap-main-right .wrap-list .item-blog-right{
        flex: 0 0 100%;
        max-width: 100%;
        margin: 0;
        margin-bottom: 20px;
    }
    .wrap-share ul{
        justify-content: flex-start;
    }
    .wrap-share ul li{
        margin-bottom: 5px;
    }
    .wrap-contact-susess .title-contact-sucess {
        font-size: 30px;
    }
    .wrap-contact-susess .mt-4.mb-4 {
        margin: 20px 0!important;
    }
    .wrap-contact-susess{
        padding-bottom: 20px;
    }
    .item-tool .box-image {
        min-width: 126px;
        height: 84px;
    }
    .item-tool .box-content-tool .title {
        font-size: 14px;
        margin: 0;
    }
    .item-tool .box-content-tool .download-file{
        margin-top: 5px;
    }
}
@media (max-width:390px) {
    header#header .menu{
        width: 95%;
    }
    .title-section {
        font-size: 20px;
    }
    
}
@media (max-width:390px) {
    
}
@media (max-width:320px) {
    .view-count{
        flex-direction: column;
        align-items: flex-start;
    }
    .view-count>div:first-child{
        margin-bottom: 10px;
    }
    .wrap-box-list-orther .box-title-section .title-section {
        font-size: 16px;
    }
}





